<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mq.jobManagement.back_end.mapper.JobMapper">

    <insert id="insertJob" parameterType="com.mq.jobManagement.back_end.pojo.Job" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO jobs (score, student_code, student_name, is_qualify, is_commit, job_status, commit_time, work_code, work_name, course_code, course_name)
        VALUES ( #{score}, #{studentCode}, #{studentName}, #{isQualify}, #{isCommit}, #{jobStatus}, #{commitTime}, #{workCode}, #{workName}, #{courseCode}, #{courseName})
    </insert>

    <select id="getCommittedWorkName" resultType="string">
        select distinct work_name from jobs where is_commit = 1;
    </select>
</mapper>
